<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <p>{{ screamIt welcomeMessage }}</p>
    <p>Start on : {{ beginDate }}</p>
    <p>Actual date : {{ currentDate }}</p>
    {{> footer}}
  </body>
</html>
